.userDiv {
	width: 100%;
	min-height: 100vh;
	color: var(--text);
}
.header {
	/* position: relative; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* padding: 0.5rem; */
	align-items: center;
	height: 10vh;
	padding-inline: 2rem;
}
.themeToggle {
	width: 3rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: var(--accent);
}
/* .themeToggleDark {
	width: 3rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: var(--accent);
} */
.themeToggleLight {
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--accent);
	background-color: var(--secondary);
}
.themeToggleDark {
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--accent);
	background-color: var(--secondary);
	transform: translateX(200%);
}
.createChannel {
	background-color: var(--background);
	padding-inline: 0.5rem;
	padding-block: 0.25rem;
	border: 1px solid var(--text);
	color: var(--text);
}
.createChannelBack {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	backdrop-filter: blur(2px);
}
.createChannelModul {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80vw;
	max-width: 300px;
	height: 80vh;
	max-height: 400px;
	border-radius: 1rem;
	padding: 1rem;
	background-color: var(--accent);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}
.channelInput {
	border-radius: 0.25rem;
	height: 2rem;
	padding-inline: 0.5rem;
}
.buttonOk {
	height: 2rem;
	border-radius: 0.25rem;
	background-color: var(--background);
	color: var(--text);
}
.buttonNo {
	height: 2rem;
	border-radius: 0.25rem;
	background-color: var(--background);
	color: var(--text);
}
.logout {
	color: var(--text);
	text-decoration: none;
}
