.li {
	display: flex;
	flex-direction: column;
}
.div {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 80%;
	width: fit-content;
	gap: 0.25rem;

	border-radius: 0.5rem;
	background-color: var(--primary);
	padding-block: 0.25rem;
	padding-inline: 0.5rem;
}
.span {
	color: var(--text);
	overflow-wrap: break-word;
	max-width: 75vw;
}
.time {
	color: var(--text);
	font-size: 0.6rem;
	padding-inline: 0.25rem;
}
.date {
	color: var(--background);
	text-align: right;
	font-size: 0.6rem;
}
