.section {
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: var(--accent);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.ul {
	width: 25%;
	height: 100%;
	background-color: var(--accent);
	list-style: none;
	padding: 0;
}
.li {
	width: 100%;
	padding-inline: 0.5rem;
}
.h3 {
	padding-block: 1rem;
	text-align: center;
}
